{
  "openapi": "3.1.0",
  "info": {
    "title": "PMS Cloud AI API",
    "version": "1.0.0",
    "description": "OpenAI-compatible AI API. Docs: https://docs.pmservers.org/ai/overview/. Requests and responses follow the OpenAI format, except /systemone, which uses the System One format."
  },
  "servers": [{ "url": "https://api.pmservers.org/ai/v1" }],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/models": {
      "get": {
        "operationId": "listModels",
        "summary": "List the models that this key can use.",
        "responses": {
          "200": {
            "description": "OpenAI model list.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ModelList" } } }
          },
          "401": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/chat/completions": {
      "post": {
        "operationId": "createChatCompletion",
        "summary": "Chat completion. OpenAI format. Use an llm model.",
        "description": "Set \"stream\": true for long answers. A long non-streaming request returns 504 upstream_timeout. In a stream, usage is in the last content chunk if stream_options.include_usage is true.",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ChatRequest" } } }
        },
        "responses": {
          "200": {
            "description": "OpenAI chat completion, or a text/event-stream when stream is true.",
            "content": {
              "application/json": { "schema": { "type": "object" } },
              "text/event-stream": { "schema": { "type": "string" } }
            }
          },
          "400": { "$ref": "#/components/responses/Error" },
          "401": { "$ref": "#/components/responses/Error" },
          "402": { "$ref": "#/components/responses/Error" },
          "403": { "$ref": "#/components/responses/Error" },
          "429": { "$ref": "#/components/responses/Error" },
          "502": { "$ref": "#/components/responses/Error" },
          "504": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/embeddings": {
      "post": {
        "operationId": "createEmbeddings",
        "summary": "Embeddings. OpenAI format. Use embeddinggemma2 (768 dimensions).",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EmbeddingsRequest" } } }
        },
        "responses": {
          "200": { "description": "OpenAI embeddings response.", "content": { "application/json": { "schema": { "type": "object" } } } },
          "400": { "$ref": "#/components/responses/Error" },
          "401": { "$ref": "#/components/responses/Error" },
          "402": { "$ref": "#/components/responses/Error" },
          "403": { "$ref": "#/components/responses/Error" },
          "429": { "$ref": "#/components/responses/Error" },
          "502": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/systemone": {
      "post": {
        "operationId": "systemOne",
        "summary": "Decision with the kev model. System One format, not OpenAI.",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SystemOneRequest" } } }
        },
        "responses": {
          "200": {
            "description": "Answers with a choice and probabilities for each question.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SystemOneResponse" } } }
          },
          "400": { "$ref": "#/components/responses/Error" },
          "401": { "$ref": "#/components/responses/Error" },
          "402": { "$ref": "#/components/responses/Error" },
          "403": { "$ref": "#/components/responses/Error" },
          "429": { "$ref": "#/components/responses/Error" },
          "502": { "$ref": "#/components/responses/Error" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "description": "An AI key. It starts with pms_sk_." }
    },
    "responses": {
      "Error": {
        "description": "OpenAI-format error.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["message", "type", "code"],
            "properties": {
              "message": { "type": "string" },
              "type": { "type": "string", "examples": ["insufficient_quota"] },
              "code": {
                "type": "string",
                "enum": [
                  "invalid_request",
                  "invalid_api_key",
                  "budget_exceeded",
                  "model_not_allowed",
                  "request_too_large",
                  "rate_limit_exceeded",
                  "upstream_error",
                  "upstream_timeout"
                ]
              }
            }
          }
        }
      },
      "ModelList": {
        "type": "object",
        "properties": {
          "object": { "const": "list" },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "object": { "const": "model" },
                "created": { "type": "integer" },
                "owned_by": { "const": "pmservers" }
              }
            }
          }
        }
      },
      "ChatRequest": {
        "type": "object",
        "required": ["model", "messages"],
        "additionalProperties": true,
        "properties": {
          "model": { "type": "string", "enum": ["qwen3.8-flash-next", "gemma4-e4b"] },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["role", "content"],
              "properties": {
                "role": { "type": "string", "enum": ["system", "user", "assistant", "tool"] },
                "content": {}
              }
            }
          },
          "stream": { "type": "boolean" },
          "stream_options": { "type": "object", "properties": { "include_usage": { "type": "boolean" } } },
          "max_tokens": { "type": "integer" },
          "temperature": { "type": "number" }
        }
      },
      "EmbeddingsRequest": {
        "type": "object",
        "required": ["model", "input"],
        "properties": {
          "model": { "type": "string", "enum": ["embeddinggemma2"] },
          "input": { "oneOf": [{ "type": "string" }, { "type": "array", "items": { "type": "string" } }] }
        }
      },
      "SystemOneRequest": {
        "type": "object",
        "required": ["model", "state", "questions"],
        "properties": {
          "model": { "const": "kev" },
          "state": { "type": "string", "description": "The document to read." },
          "questions": {
            "type": "object",
            "minProperties": 1,
            "additionalProperties": {
              "type": "object",
              "required": ["type", "instructions", "criteria"],
              "properties": {
                "type": { "const": "choice" },
                "instructions": { "type": "string" },
                "criteria": {
                  "type": "object",
                  "description": "Option name to a description of the option.",
                  "additionalProperties": { "type": "string" }
                }
              }
            }
          }
        },
        "examples": [
          {
            "model": "kev",
            "state": "Customer: my order arrived broken, I want my money back.",
            "questions": {
              "team": {
                "type": "choice",
                "instructions": "Which team should handle this message?",
                "criteria": {
                  "billing": "Payments and invoices.",
                  "returns": "Refunds and damaged items.",
                  "shipping": "Delivery status."
                }
              }
            }
          }
        ]
      },
      "SystemOneResponse": {
        "type": "object",
        "properties": {
          "model": { "type": "string" },
          "answers": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "type": { "type": "string" },
                "choice": { "type": "string" },
                "probabilities": { "type": "object", "additionalProperties": { "type": "number" } },
                "confidence": { "type": "number" }
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "input_tokens": { "type": "integer" },
              "output_tokens": { "type": "integer", "const": 0 }
            }
          }
        }
      }
    }
  }
}
